.cover{

    width:100%;

    padding-top:10mm;

    text-align:center;
    margin-top: 120px;

    font-family:"Times New Roman",serif;

}

.university{

    margin:0;

    font-size:25px;

    font-weight:900;

    text-transform:uppercase;

    line-height:1.35;

}

.logo{

    width:140px;

    height:140px;

    margin:12px auto;

    display:block;

    object-fit:contain;

}

.logo-placeholder{

    width:140px;

    height:140px;

    margin:12px auto;

    border:1px dashed #999;

    display:flex;

    justify-content:center;

    align-items:center;

}

.year{

    margin-top:8px;

    font-size:19px;

}

.department{

    margin-top:10px;

    font-size:19px;

    font-weight:700;

    text-transform:uppercase;

}

.subject{

    margin-top:14px;

    margin-bottom:6px;

    font-size:20px;

    font-weight:700;

    text-transform:uppercase;

}

.subject-code{

    margin-top:4px;

    font-size:18px;

}

.submission-table{

    width:100%;

    margin-top:65px;

    border-collapse:collapse;

}

.submission-table td{

    width:50%;

    vertical-align:top;

    font-size:18px;

    line-height:1.6;

}

.left{

    text-align:left;
    padding-left: 10px;

}

.right{

    text-align:left;
    padding-left: 120px;

}